.PhotoResult {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 50%;
    max-width: 50%;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    gap: 25px
}